*{
    padding: 0%;
    margin: 0%;
}

.Customers{
    width: 100vw;
    height: 100vh;
    background-color: var(--rich-black);
    display: flex;
    flex-direction: column;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}

.customer-header{
    width: 98vw;
    height: 22vh;
    background-color: var(--paynes-gray);
    padding: 1vw;
    display: flex;
    

}
.add-customer-btn{
 
    
   margin-top: 5vh;
    border-radius: 0;
    box-shadow: none;
    background-color: var( --air-superiority-blue);
    color: white;
    border: 0;
    width: 100px;
    height: 60px;
}

.customer-form{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;

}

.customer-form input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

.invoice-number{
    width: 200px;
    height: 20px;
    background-color: antiquewhite;
    border-radius: 5px;
    text-align: center;
}

.table{

    width: 98vw;
    padding: 1vw;
}

